@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.title {
    background-color:#BA7416;
    color: #202020;
    padding: 20px 30px 5px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    color: #BA7416;
}

h4 {
    margin-top: 20px;
    font-weight: bold;
}

h5 {
    margin-top: 20px;
    font-weight: bold;
}

h6 {
    margin-top: 20px;
    font-size: 14px;
    color: #BA7416;
    font-weight: bold;
}

code {
    color: #202020;
}

code.textblock {
    color: #c7254e;
}

.overview {
    color: #4b2512;
    font-size: 10px;
}

.page {
    padding: 10px 30px 20px;
}

ul {
    padding-left: 25px;
}
.navbar-brand>img {
    display: inline-block;
    width: 40px;
    height: 45px;
}

.navbar-inverse .navbar-brand  {
    font-size: 22px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    color: #ba7416;
    padding-top: 5px;
}

a.list-group-item {
    border-radius: 0 !important;
    color: #f5f5f5;
}

a.list-group-item:hover {
    background-color: black;
    color: #f5f5f5;
}

.list-group-item {
    padding: 15px 20px;
    font-size: 18px;
    background-color: transparent;
    border-color: #202020;
}

body {
    font: 14px/1.5 'Droid Sans', Arial, 'Liberation Sans', FreeSans, sans-serif;
    background: url(../images/background.png) 0 0;
    padding-top: 35px;
    color: #202020;
}

#content {
    background: #f5f5f5;
    margin-left: -1px;
    margin-top: 1px;
    min-height: 600px;
    padding: 0 0 30px 0;

}

#sidebar {
    padding: 0;
}

.sidebar {
    padding: 0;
    position: fixed;
    width: inherit;
    top: 0px;
    bottom: 0;
    left: 0px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.textblock {
    display: block;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 0;
    margin: 10px 0;
}

.tip {
    color: #BA7416;
    font-weight: bold;
}

img {
    max-width:inherit;
    max-height:inherit;
    vertical-align: middle;
}

.code-snippet {
    background-color: #202020;
    padding: 20px 10px 0 10px;
    font-size: 12px;
    display: block;
}

.img-center {
    margin: 2% 4% 4% 4%;
    width: auto;
    height: auto;
    max-height: 700px;
    text-align: center;
}

.list-group-item.disabled {
    background-color: #101010;
    color: #3F3F3F;
}

.list-group-item.disabled:hover {
    background-color: #101010;
    color: #3F3F3F;
    cursor: not-allowed;
}

form {
    max-width: 400px;
    margin-top: 15px;
}

.glyphicon {
    margin: 0 5px;
}

.nav-button {
    font-size: 16px;

}

#footer {
    margin: 0;
    padding-top: 15px;
}

.info {
    margin: 15px 0 30px 0;
    padding-bottom: 15px;
    border-bottom: solid 1px #808080;
}

.btn-row {
    margin: 0 0 20px 0;
}

ol li {
    margin-bottom: 10px;
}

#infoDisplay {
    padding-top: 16px;
}

.goodbye {
    font-size: 16px;
    color: #ba7416;
    font-weight: bold;
}
